<canvas id="canvas" width="800" height="600" style="border:1px solid #000000; margin: 10 px"></canvas>
<script>
  const canvas = document.getElementById("canvas")
  const ctx = document.getElementById("canvas").getContext("2d");
  const num_agents = 50;
  const directions = [[1,0],[1,1],[0,1],[-1,1],[-1,0],[-1,-1],[0,-1],[1,-1]]
  const square_side = 10
  const real_width = canvas.width / square_side - 1
  const real_height = canvas.height / square_side - 1

  let pixels = [];
  let agents = [];
    
  class Pixel{
      constructor(x, y) {
          this.x = x;
          this.y = y;
          this.pheromone = 0;
          this.prev = 0;
      }

      show(ctx) {
          var shade = Math.floor(0xFF * (0xF - this.pheromone) / 0xF).toString();

          ctx.fillStyle = "rgba("+ shade + ","+ shade +"," + shade +", 1.0)";
          ctx.fillRect(this.x * square_side, this.y * square_side, square_side, square_side);

          this.pheromone = Math.max(0, this.pheromone - 1);
      }
  }

  class Agent{
      constructor(x, y, direction) {
          this.x = x;
          this.y = y;
          this.direction = direction;
          this.index = directions.indexOf(this.direction);
      }

      next(direction) {
          this.direction = direction;
          this.index = directions.indexOf(this.direction)
          this.x += direction[0];
          this.y += direction[1];
          if (this.x > real_width) {
              this.x = real_width;
              this.direction = directions[(-this.index + 12) % 8];
          } else if(this.x < 0) {
              this.x = 0;
              this.direction = directions[(-this.index + 12) % 8];
          }
          if (this.y > real_height) {
              this.y = real_height;
              this.direction = directions[(-this.index + 8) % 8];
          } else if(this.y < 0) {
              this.y = 0;
              this.direction = directions[(-this.index + 8) % 8];
          }

          this.index = (directions.indexOf(this.direction) + nonUniformRandom() + 8) % 8;
          pixels[this.x][this.y].pheromone = 0xF;
      }
  }

  function nonUniformRandom() {
      return Math.round((2 * (Math.random() - 0.5)) ** 7);
  }
 
  function getPheromone(x, y) {
      if (x < 0 || x > real_width || y < 0 || y > real_height) {
          return 0
      }
      return pixels[x][y].pheromone;
  }

  function update() {
      for (let update_agent = 0; update_agent < num_agents; update_agent ++) {
          const now = agents[update_agent];
          let currDir = now.index;
          let bestDir = now.index;
          let bestPheromone = getPheromone(now.x + directions[bestDir][0],
                                           now.y + directions[bestDir][1]);
          
          for (let trydir = -1; trydir < 2; trydir ++){
              let new_dir = (trydir + currDir + 8) % 8;
              currPixel_x = now.x + directions[new_dir][0];
              currPixel_y = now.y + directions[new_dir][1];
              currPheromone = getPheromone(currPixel_x, currPixel_y);
              
              if (currPheromone > bestPheromone) {
                  bestPheromone = currPheromone;
                  bestDir = new_dir;
              }
          }
          now.next(directions[bestDir]);
      }

      for(let updatePixel_x = 0; updatePixel_x <= real_width; updatePixel_x ++) {
          for (let updatePixel_y = 0; updatePixel_y <= real_height; updatePixel_y ++) {
              pixels[updatePixel_x][updatePixel_y].show(ctx);
          }
      }
  }

  for (let pixel_x = 0; pixel_x <= real_width; pixel_x ++) {
      let row = [];
      for (let pixel_y = 0; pixel_y <= real_height; pixel_y ++) {
          row.push(new Pixel(pixel_x, pixel_y));
      }
      pixels.push(row);
  }

  
  for (let i = 0; i < num_agents; i ++) {
      agents.push(new Agent(Math.floor(Math.random() * real_width),
                            Math.floor(Math.random() * real_height),
                            directions[Math.floor(Math.random() * 8)]));
  }

  Loop = setInterval(update, 50);

  function getInfo() {
      if (Loop != null){
          clearInterval(Loop);
          Loop = null;
          document.getElementById("something").innerHTML = "Start";
      }else{
          Loop = setInterval(update, 50);
          document.getElementById("something").innerHTML = "Stop";
      }
      
  }
</script>
<button type="button" onclick="getInfo()" id="something">Stop</button>
